/**
 * Personal Teal theme for reveal.js.
 *
 * Copyright (C) 2018 Souler Ou.
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------



// Include theme-specific fonts
// Headings
@import url(../../lib/font/yh/509R/index.css);
// Regular
// @import url(../../lib/font/dqh/w3/index.css);
// Light
@import url(../../lib/font/lth/kh/index.css);
// // Bold
// @import url(../../lib/font/league-gothic/league-gothic.css);
// // Italic
// @import url(../../lib/font/league-gothic/league-gothic.css);
// Quote
@import url(../../lib/font/jk/w02/index.css);
// // Latin-Font
// @import url(../../lib/font/league-gothic/league-gothic.css);
// // Fanti Support
// @import url(../../lib/font/league-gothic/league-gothic.css);



// Override theme settings (see ../template/settings.scss)
// $mainFont: 'Open Sans', sans-serif;
// $mainColor: #333;
// $headingFont: 'Quicksand', sans-serif;
// $headingColor: #333;
// $headingLetterSpacing: -0.08em;
// $headingTextShadow: none;
// $backgroundColor: #f7fbfc;
// $linkColor: #3b759e;
// $linkColorHover: lighten( $linkColor, 20% );
// $selectionBackgroundColor: #134674;
// 
$mainFont: "Helvetica Neue", "Segoe UI", "lth-kh", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
$mainColor: #7F7F7F;
$headingFont: "Helvetica Neue", "Segoe UI", "yh-509R", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
$headingColor: #299C90;
$headingLetterSpacing: 0em;
$headingTextShadow: none;
$backgroundColor: #FCFCFC;
$linkColor: #E30B17;
$linkColorHover: #A66358;
$selectionBackgroundColor: #cecece;
// Background generator
@mixin bodyBackground() {
    @include radial-gradient( #EFEFE5, #FFFFFF );
}
// $headingTextShadow: none;

// Fix links so they are not cut off
.reveal a {
    line-height: 1.3em;
}
.reveal table {
  margin: 1em auto;
  border-collapse: collapse;
  border-spacing: 0; }

.reveal table th {
  font-weight: 400; }

.reveal table th,
.reveal table td {
  border: 2px solid #555;
  padding: 0.4em 0.8em;
  text-align: center;
  vertical-align: middle; }

.reveal th img,
.reveal td img {
  display: block;
  margin: 0; }


// Background generator
// @mixin bodyBackground() {
//     @include radial-gradient( #add9e4, #f7fbfc );
// }



// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------



.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
    border-bottom: 1px solid #555;
}

.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: $blockMargin auto;
  padding: 5px;

  font-family: 'Helvetica Neue', 'Segoe UI', 'jk-w02', "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
  color: #ADB9C9;
  font-style: normal;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 0px 2px rgba(0,0,0,0.2);
}