/**
 * Personal Color theme for reveal.js.
 *
 * Copyright (C) 2018 Souler Ou.
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------



// Include theme-specific fonts
// Headings
@import url(../../lib/font/yh/506L/index.css);
// Regular
// @import url(../../lib/font/dqh/w3/index.css);
// Light
@import url(../../lib/font/lth/xh/index.css);
// // Bold
// @import url(../../lib/font/league-gothic/league-gothic.css);
// // Italic
// @import url(../../lib/font/league-gothic/league-gothic.css);
// Quote
@import url(../../lib/font/jk/w03/index.css);
// // Latin-Font
// @import url(../../lib/font/league-gothic/league-gothic.css);
// // Fanti Support
// @import url(../../lib/font/league-gothic/league-gothic.css);


$mainFont: "Helvetica Neue", "Segoe UI", "lth-xh", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
$mainColor: #123D6C;
$secondMainColor: #858585;

// $mainColor: #858585;
// $secondMainColor: #123D6C;

$headingFont: "Helvetica Neue", "Segoe UI", "yh-506L", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
$headingColor: #F4773C;
$secondHeadingColor: #A77BB0;
$thirdHeadingColor: #92BB7D;
$fourthHeadingColor: #E8A43C;
$mainShaderColor: #73B5B7;
$headingLetterSpacing: 0em;
$headingTextShadow: none;
$backgroundColor: #FCFCFC;
$linkColor: #73B5B7;
$linkColorHover: #5F979A;
$selectionBackgroundColor: #cecece;
// Background generator
@mixin bodyBackground() {
  background: -moz-linear-gradient(38deg, #E9E9DF 0%, #F8F8F0 39%, #FAFAF2 63%, #FFFFF5 99%, #EFEFE5 100%);
  background: -webkit-gradient(38deg, #E9E9DF 0%, #F8F8F0 39%, #FAFAF2 63%, #FFFFF5 99%, #EFEFE5 100%);
  background: -webkit-linear-gradient(38deg, #E9E9DF 0%, #F8F8F0 39%, #FAFAF2 63%, #FFFFF5 99%, #EFEFE5 100%);
  background: -o-linear-gradient(38deg, #E9E9DF 0%, #F8F8F0 39%, #FAFAF2 63%, #FFFFF5 99%, #EFEFE5 100%);
  background: -ms-linear-gradient(38deg, #E9E9DF 0%, #F8F8F0 39%, #FAFAF2 63%, #FFFFF5 99%, #EFEFE5 100%);
  background: linear-gradient(38deg, #E9E9DF 0%, #F8F8F0 39%, #FAFAF2 63%, #FFFFF5 99%, #EFEFE5 100%);
}
// $headingTextShadow: none;

// Fix links so they are not cut off
.reveal a {
    line-height: 1.3em;
}
.reveal table {
  margin: 1em auto;
  border-collapse: collapse;
  border-spacing: 0; }

.reveal table th {
  font-weight: 400; }

.reveal table th,
.reveal table td {
  border: 2px solid #555;
  padding: 0.4em 0.8em;
  text-align: center;
  vertical-align: middle; }

.reveal th img,
.reveal td img {
  display: block;
  margin: 0; }


// Background generator
// @mixin bodyBackground() {
//     @include radial-gradient( #add9e4, #f7fbfc );
// }



// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------



.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
    border-bottom: 1px solid #555;
}

.reveal blockquote {
  font-family: 'Helvetica Neue', 'Segoe UI', 'jk-w03', "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
  color: $secondMainColor;
  font-style: normal;
  background: rgba(115, 181, 183, 0.2);
  box-shadow: 0px 0px 2px rgba(0,0,0,0.2);
}

.reveal h2 {
  color: $headingColor;
}
.reveal h6 {
  color: $secondMainColor;
}

.reveal h3,
.reveal h5 {
  color: $thirdHeadingColor;
}

.reveal h4 {
  color: $secondHeadingColor;
}

.reveal section img {
  border: none;
}

.reveal strong,
.reveal b {
  color: $secondHeadingColor;
}

.reveal em {
  color: $secondHeadingColor;
}
