/**
 * Elegant theme for reveal.js.
 *
 * Copyright (C) 2018 Souler Ou.
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------



// // Include theme-specific fonts
// @import url(https://fonts.googleapis.com/css?family=Quicksand:400,700,400italic,700italic);
// @import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);
// @import 

// Override theme settings (see ../template/settings.scss)
// $mainFont: 'Open Sans', sans-serif;
// $mainColor: #333;
// $headingFont: 'Quicksand', sans-serif;
// $headingColor: #333;
// $headingLetterSpacing: -0.08em;
// $headingTextShadow: none;
// $backgroundColor: #f7fbfc;
// $linkColor: #3b759e;
// $linkColorHover: lighten( $linkColor, 20% );
// $selectionBackgroundColor: #134674;
// 
$mainFont: "Helvetica Neue", "Segoe UI", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
$mainColor: #333;
$headingFont: "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
$headingColor: #333;
// $headingLetterSpacing: -0.08em;
$headingTextShadow: none;
$backgroundColor: #c2c2c2;
$linkColor: #13daec;
$linkColorHover: #71e9f4;
$selectionBackgroundColor: #cecece;
// $headingTextShadow: none;

// Fix links so they are not cut off
.reveal a {
    line-height: 1.3em;
}
.reveal table {
  margin: 1em auto;
  border-collapse: collapse;
  border-spacing: 0; }

.reveal table th {
  font-weight: 400; }

.reveal table th,
.reveal table td {
  border: 2px solid #555;
  padding: 0.4em 0.8em;
  text-align: center;
  vertical-align: middle; }

.reveal th img,
.reveal td img {
  display: block;
  margin: 0; }


// Background generator
// @mixin bodyBackground() {
//     @include radial-gradient( #add9e4, #f7fbfc );
// }



// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------
.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
    border-bottom: 1px solid #555;
}